/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&family=JetBrains+Mono:wght@300;400&display=swap');
body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    height: 100vh;
}

h1 {
    font-weight: 400;
    font-size: 2.6rem;
    margin: 0;
    background-color: #c4c4c4;
    margin-bottom: 4.2rem;
}

h2 {
    font-weight: 400;
    font-size: 1.8rem;
}

#user-score, #computer-score, #scores {
    font-weight: 400;
    font-size: 2.6rem;
}

#score-label {
    font-size: 1.2rem;
}

/* Layout */
#game {
    display: flex;
    align-items: center;
    height: 60%;
    margin-top: 1rem;
}

#user-game, #computer-game {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

h2#user-title, h2#computer-title {
    margin-top: 50px;
}

#description {
    display: block;
    margin-bottom: 2.6rem;
}

#user-buttons, #computer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-interface, #computer-interface {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#user-piedra, #user-papel, #user-tijeras,
#computer-piedra, #computer-papel, #computer-tijeras {
    margin: 20px;
}

/* Styling */
#user-game {
    border-right: 1px solid Black;
}

.image-action {
    width: calc(200px/3);
    height: calc(300px/3);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}

#user-piedra, #computer-piedra, #user-play-piedra, #computer-play-piedra {
    background-image: url('../assets/piedra.png');
}

#user-papel, #computer-papel, #user-play-papel, #computer-play-papel {
    background-image: url('../assets/papel.png');
}

#user-tijeras, #computer-tijeras, #user-play-tijeras, #computer-play-tijeras {
    background-image: url('../assets/tijeras.png');
}

#result-label {
    font-size: 4.2rem;
}

#user-play-papel, #user-play-tijeras, #user-play-piedra,
#computer-play-papel, #computer-play-tijeras, #computer-play-piedra {
    width: calc(200px/2);
    height: calc(300px/2);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    margin: 50px 100px;
}

@media screen and (max-width: 768px) {
    #game {
        display: block;
    }

    #user-game, #computer-game {
        border: none;
    }
}
